body {
    font-family: 'Mali', cursive;
    background-image: url("/pictures/bakgrund.jpg");
	background-attachment: fixed;
}

div.welcome {
    color: white;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 7rem;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
	min-width:  10rem;
}
h1.welcome {
    font-size: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
p.welcome {
    margin-top: 1rem;
	padding-bottom: 0.3rem;
}

p a {
    color: white;
}

div.nav {
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.9);
}
li.nav {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover { 
    background-color: #4CAF50;
}

div.header {
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 2rem;
	background-color: rgba(51, 51, 51, 0.9);
	text-align: center;
    font-size: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
	color: white;
}

div.prep {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 3rem;
	background-color: rgba(51, 51, 51, 0.9);
	color: white;
}
ul.prep {
	list-style-position: inside;
	list-style-type: disc;
}

div.ingredients {
	display: inline-block;
}
div.dish_img {
	max-width: 15rem;
	display: inline-block;
	vertical-align: top;
}
#pancake {
	margin-left:15rem;
	max-width:100%;
	max-height:100%;
}

h1.prep {
	font-size: 1.4rem;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

.grid-container {
	padding-left:1rem;
	padding-right:1rem;
	padding-bottom:1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 3rem;
	justify-self: center;
	justify-content: center ;
	color: white;
	display: grid;
	grid-template-rows: 1.5rem 7rem 7rem 7rem 7rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: rgba(51, 51, 51, 0.9);
}
.grid-header {
	font-size: 1rem;
	text-align: center;
	border-left: 0.1rem solid rgba(0, 0, 0, 0.6);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.6);
	border-top: 0.1rem solid rgba(0, 0, 0, 0.6);
    	border-radius: 0.1rem;
}
.grid-item {
	background-color: rgba(51, 51, 51, 0.9);
	border: 1px solid rgba(0, 0, 0, 0.9);
	font-size: 0.8rem;
	text-align: left;
}

.pancake {
	background-image: url("/pictures/pancakes.png");
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	min-width: 100%;
	min-height: 90%;
}
.meatball {
	background-image: url("/pictures/meatballs.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: block;
	min-width: 100%;
	min-height: 90%;
}

div.comments {
	background-color: rgba(51, 51, 51, 0.9);
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 3rem;
	padding-top: 0.3rem;
    	padding-bottom: 0.3rem;
	color: white;
}
p.comment {
	margin-left: 0.3rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}