div.commentSection {
	background-color: rgba(51, 51, 51, 0.9);
	color: white;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 3rem;
	padding-top: 0.3rem;
    padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

div.commentSection form {
	display: flex;
}

div.commentSection input {
	margin-left: 0.2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 0.1rem solid black;
}
input:hover { 
    background-color: #4CAF50;
}

textarea.comment {
   resize: none;
   margin-bottom:1rem;
}

p.comments {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}