<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Currency converter</title>
		<!-- reset css stylesheet -->
		<link rel="stylesheet" type="text/css" href="reset.css">
		<!-- create css stylesheet  -->
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body><h1>Currency Converter</h1>
    	<div class="">
    		<div id="" class="dropdown position-relative">
    			<button type="button" id="dropdownMenuButton" class="btn">
    				<span class="">American dollar (USD)</span>
    			</button> 
    			<div class="dropdown-menu">
    				<span><a href="#" class="dropdown-item">American dollar (USD)</a></span>
    				<span><a href="#" class="dropdown-item">Euro (EUR)</a></span>
    				<span><a href="#" class="dropdown-item">Swedish crown (SEK)</a></span>
                  	<span><a href="#" class="dropdown-item">Norwegian crown (NOK)</a></span>
    			</div>
         	</div>
    	</div>
    	
		<div><p th:text="${helloworld}">Test</p></div>
	</body>
	
</html>
<!--form>
      		<fieldset>
		        <legend>Currency Input</legend>
		        	<div>
					    	<div><a href="#">NOK</a></div>
					    	<div><a href="#">SEK</a></div>
					    	<div><a href="#">USD</a></div>
					    	<div><a href="#">EUR</a></div>
			        	<p>
			          		<label>Enter the amount to convert: </label>
			          		<input type = "number" id = "amountToConvert" value = "amount"/>
			        	</p>
		        	</div>
		        	<p>
			          	<label>This is what the selected currency is worth in</label>
			          	<input type = "text" id = "convertedValue" value = "pop" />
			          	<button class="dropbtn">Convert</button>
		        	</p>
      		</fieldset>
    	</form-->
    	