<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
	<head>
		<meta charset="UTF-8">
		<title>Currency converter</title>
		<!-- create css stylesheet  -->
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<h1>Currency Converter</h1>
		<h2>The 4 different currencies to convert between is</h2>
		<div>
			<ul>
	  			<li>SEK (Swedish Krona)</li>
	  			<li>NOK (Norwegian Krone)</li>
	  			<li>USD (American Dollar)</li>
	  			<li>GBP (British Pound)</li>
			</ul>
		</div>
    	<form th:action="@{/convert}" th:object="${convertForm}" method="post">
      		<fieldset>
       	 		<legend>Converter between SEK, NOK, USD and EUR</legend>
        		<p>
	          		<label>Enter which currency to convert from:</label>
	          		<select th:field="*{fromCurrency}">
	          			<option value="SEK">SEK</option>
	          			<option value="USD">USD</option>
	          			<option value="EUR">EUR</option>
	          			<option value="NOK">NOK</option> 
	          		</select>
          		</p>
        		<p>
			    	<label>Enter which currency to convert to:</label>
		        	<select th:field="*{toCurrency}">
          				<option value="USD">USD</option>
	          			<option value="SEK">SEK</option>
	          			<option value="EUR">EUR</option>
	          			<option value="NOK">NOK</option> 
          			</select>
        		</p>
        		<p>
          			<label>Enter the amount to convert:</label>
          			<input type="text" th:field="*{amount}" placeholder="For example '100'"/>
          			<span  th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</span>
        		</p>
        		
        		<button type="submit">Convert</button>
      		</fieldset>
    	</form>
	</body>
	
</html>